// Dropdown

.dropdown {
  display: inline-block;
  position: relative;

  .menu {
    animation: slide-down .15s ease 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    background:$white;
		z-index:1010;
    word-break: keep-all;
    overflow-wrap: normal;
    width: auto;
    box-shadow:0 0 5px $gray;
    margin:0;
    list-style:none;
    padding:.3em;
    border-radius:$radius !important;
  }
  .menu li{
    margin:0;
  }
  .menu li>*{
    padding:.2em .5em;
    display:block;
    color:$black;
  }
  .menu li>*:hover{
    background:#f1f1fc;
  }
  &.dropdown-right {
    .menu {
      left: auto;
      right: 0;
    }
  }

  &.active .menu,
  [data-dropdown]:focus + .menu,
  .menu:hover {
    display: block;
  }

  // Fix dropdown-toggle border radius in button groups
  &.group {
    >*:nth-last-child(2) {
      border-radius: 0 $radius $radius 0;
    }
  }
}



@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
