
nav>ul.tree{
  
  li{
    padding-left:1.5em;   
    position:relative;
    margin:0;
    
    &::before,
    &::after{
      content:'';
      position:absolute;
      top:0;
      bottom:0;
      left:.5em;
      border:.5px solid $gray;
    }
    &::after{
      z-index:-1;
      top:.72em;
      bottom:auto;
      width:.7em;
    }
    &:first-child::before{
    top:.7em;
    }
    &:last-child::before{
    bottom:.7em;
    }
    li:first-child::before{
      top:0;
    }
    [data-tree],label{
    color:$black;
      padding:0;
      cursor:pointer;
      
      &:hover{
      text-decoration:underline;
      }
      &::before{
      border:0 !important;
      top:0;
      left:0;
      transform:scale(1.5);
      text-align:center;
      width:1em;
      position:absolute;
      content:'\2022';
      }
    }
    &.active > [data-tree],
    [type]:checked ~ label{
      &::before{
      content:'\25BE'; // \25BE
      }
    }
    ul{
      display:none;
      margin:0;
    }
    &.active> ul,
    [type]:checked ~ ul{
      display:block;
      

    }
  }
}
